mat-card {
  text-align: center;
}

img {
  border-radius: 50%;
  width: 20%;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.action-buttons {
  display: block;
  margin: auto;
}

button {
  margin: 5px;
}
